In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SP500.csv', index_col=0)

In [3]:
df = df[["A", "AAL", "AAPL"]]

In [4]:
df

                     A        AAL        AAPL
date
2018-01-02   65.095131  51.647560   40.888062
2018-01-03   66.751389  51.014030   40.880947
2018-01-04   66.250664  51.335663   41.070835
2018-01-05   67.309898  51.316174   41.538448
2018-01-08   67.454346  50.809345   41.384144
...                ...        ...         ...
2023-03-10  135.720001  15.460000  148.500000
2023-03-13  136.690002  14.850000  150.470001
2023-03-14  138.399994  14.660000  152.589996
2023-03-15  134.029999  13.860000  152.990005
2023-03-16  133.589996  13.915000  153.768799

[1310 rows x 3 columns]

In [4]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\johnn\anaconda3\lib\site-packages (1.1.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\johnn\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yarrow (c:\users\johnn\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\johnn\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yarrow (c:\users\johnn\anaconda3\lib\site-packages)

In [6]:
import sqlalchemy
from sqlalchemy import create_engine

# Create connection string 
host = "financial-database.mysql.database.azure.com"
database = "currency_data" 
username = "cuqts_datateam"
password = "a7$~B$k\L>E7"
port = 3306

connection_str = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}'

# Connect to Azure MySQL
engine = create_engine(connection_str, 
                       connect_args={"ssl": {"ssl_ca": "DigiCertGlobalRootCA.crt.pem"}})
connection = engine.connect()

# Create table

query = """CREATE TABLE stock_data10 (
  `date` DATE,
  `stock1` FLOAT,
  `stock2` FLOAT,
  `stock3` FLOAT
);"""

result = connection.execute(query)

print("Table created successfully!")

Table created successfully!